.container {
    width: 405px;
    height: 400px;
    margin: auto;
    background-color: dodgerblue;
    border-radius: 6px;
}

.container .mostrador {
    width: 390px;
    height: 40px;
}

.container .mostrador input {
    width: 342px;
    height: 40px;
    border: solid;
    border-color: dodgerblue;
    border-radius: 6px;
    font-size: 20px;
    margin: 10px 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Fila 1*/

.container .content .content-number-1 {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    margin-top: 40px;
}

.container .content .content-number-1 .number {
    width: 70px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .content .content-number-1 .number:hover {
    background-color:darkgray;
}

/*Fila 2*/

.container .content .content-number-2 {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
}

.container .content .content-number-2 .number {
    width: 70px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .content .content-number-2 .number:hover {
    background-color:darkgray;
}

/*Fila 3*/

.container .content .content-number-3 {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
}

.container .content .content-number-3 .number {
    width: 70px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .content .content-number-3 .number:hover {
    background-color:darkgray;
}

/*Fila 4*/

.container .content .content-number-4 {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
}

.container .content .content-number-4 .number {
    width: 70px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .content .content-number-4 .number:hover {
    background-color:darkgray;
}

/*Fila 5*/

.container .content .content-number-5 {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
}

.container .content .content-number-5 .number {
    width: 70px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:dodgerblue;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 6px;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .content .content-number-5 .number:hover {
    background-color:darkgray;
}

.resultado .titulo {
    width: 392px;
    padding: 4px;
    background-color: lightskyblue;
}

.resultado .titulo p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.resultado {
    width: 400px;
    height: 400px;
    background-color: dodgerblue;
    border-radius: 6px;
    margin-top: -398px;
    display: block;
}

.resultado .content {
    width: 380px;
    height: 40px;
}

.resultado .content .result {
    width: 380px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 9px;
}

.resultado .content .result .resultado-final{
    margin-top: 5px;
    margin-left: 9px;
    display: inline-block;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit {
    margin-left: 220px;
    border: none;
    background-color: white;
}

.submit:hover {
    background-color: dodgerblue;
    color: white;
}